catboost==1.2.7
graphviz==0.20.1
lightgbm==4.2.0
mariadb==1.1.10
munkres==1.1.4
pandas==2.1.1
roman==4.1
scikit-learn==1.4.1.post1
scipy==1.11.3
seaborn==0.13.0
SQLAlchemy==2.0.25
xgboost==2.0.3
flask==3.0.3
tqdm==4.66.1
openpyxl==3.1.2
